/*	default	*/
	.default#station-area{
		flex-direction  : row;
		justify-content : space-around;
	}
	.default#station-name{
		flex-direction  : row;
		justify-content : space-around;
	}
		.default.station-name-frame{
			width : 20px;
		    display: flex;
		}
			.default.station-name-frame span{
				margin: auto 0 0 0;
			    text-align: center;
			}

		.default.station-frame{
			display         : flex;
			flex-direction  : column;
			justify-content : space-around;
		}
		.default.station-stop {
			display: flex;
		}
			.default.passage p{
				visibility: hidden;
				z-index: -1;
				margin: auto;
				width: 20px;
				height:100%;
			}
			.default.stop p{
				background-color: #fff;
				margin: auto;
				width: 20px;
				height:100%;
			}

			.default.stop-single p{
				border-radius    : 10px;
				border : solid 1px #000;
				width : 13px;
				height: 13px;
			}
			.default.stop-begin p{
				border-radius    : 10px 10px 0px 0px/10px 10px 0px 0px;
				border-left : solid 1px #000;
				border-right : solid 1px #000;
				border-top : solid 1px #000;
			}
			.default.stop-between p{
				visibility: visible;
				border-left : solid 1px #000;
				border-right : solid 1px #000;
			}
			.default.stop-end p{
				border-radius    : 0px 0px 10px 10px/0px 0px 10px 10px;
				border-left : solid 1px #000;
				border-right : solid 1px #000;
				border-bottom : solid 1px #000;
			}
	.default#train-area{
		flex-direction  : column;
		justify-content : space-around;
	}
	.default#train-name{
		flex-direction  : column;
		justify-content : space-around;
	}
		.default.train-name-frame{
		    display: flex;
		}
			.default.train-name-frame span{
				margin: 0 0 0 auto;
			    text-align: center;
			}

		.default.train-frame{
			display         : flex;
			flex-direction  : row;
			justify-content : space-around;
		}
		.default.train-stop {
			display: flex;
		}
		.default.train-stop p{
				height: 15px;
			}
			.default.non-operation p{
				visibility: hidden;
			}
			.default.begin-operation p{
				border-radius    : 10px 0px 0px 10px/10px 0px 0px 10px;

				margin: auto 0 auto auto;
				width: 22px;
			}
			.default.between-operation p{
				margin: auto 0;
				width: 100%;
			}
			.default.end-operation p{
				border-radius    : 0px 10px 10px 0px/0px 10px 10px 0px;	
				margin: auto auto auto 0;
				width: 22px;
			}
/*	simple	*/
	.simple#station-area{
		flex-direction  : row;
		justify-content : space-around;
	}
	.simple#station-name{
		flex-direction  : row;
		justify-content : space-around;
	}
		.simple.station-name-frame{
			width : 20px;
		    display: flex;
		}
			.simple.station-name-frame span{
				margin: auto 0 0 0;
			    text-align: center;
			}

		.simple.station-frame{
			display         : flex;
			flex-direction  : column;
			justify-content : space-around;
		}
		.simple.station-stop {
			display: flex;
		}
			.simple.passage p{
				visibility: hidden;
				z-index: -1;
				margin: auto;
				width: 20px;
				height:100%;
			}
			.simple.stop p{
				background-color: #fff;
				margin: auto;
				width: 20px;
				height:100%;
			}

			.simple.stop-begin p,
			.simple.stop-between p,
			.simple.stop-end p,
			.simple.stop-single p{
				border-left : solid 1px #666;
				border-top : solid 1px #666;
				
				width : 7px;
				height: 7px;
			}

	.simple#train-area{
		flex-direction  : column;
		justify-content : space-around;
	}
	.simple#train-name{
		flex-direction  : column;
		justify-content : space-around;
	}
		.simple.train-name-frame{
		    display: flex;
		}
			.simple.train-name-frame span{
				margin: 0 0 0 auto;
			    text-align: center;
			}

		.simple.train-frame{
			display         : flex;
			flex-direction  : row;
			justify-content : space-around;
		}
		.simple.train-stop {
			display: flex;
		}
			.simple.train-stop p{
				margin: auto 0;
				width: 100%;
				height: 18px;
			}
			.simple.non-operation p{
				visibility: hidden;
			}
			.simple.begin-operation p{
				margin: auto 0 auto auto;
				width: 18px;
				border-top : solid 1px #fff;
				border-bottom : solid 1px #ccc;
			}
			.simple.between-operation p{
				margin: auto 0;
				width: 100%;
				border-top : solid 1px #fff;
				border-bottom : solid 1px #ccc;
			}
			.simple.end-operation p{
				margin: auto auto auto 0;
				width: 18px;
				border-top : solid 1px #fff;
				border-bottom : solid 1px #ccc;
				border-right : solid 1px #ccc;
			}
/*	default-column	*/
	.default-column#station-area{
		flex-direction  : column;
		justify-content: space-around;
	}
	.default-column#station-name{
		flex-direction  : column;
		justify-content: space-around;
	}
		.default-column.station-name-frame{
		    display: flex;
		}
			.default-column.station-name-frame span{
				margin: auto 5px auto auto;
			    text-align: center;
			}

		.default-column.station-frame{
			display         : flex;
			flex-direction  : row;
			justify-content: space-around;
		}
		.default-column.station-stop {
			display: flex;
		}
			.default-column.passage p{
				visibility: hidden;
				z-index: -1;
				margin: auto;
				height: 20px;
				width:100%;
			}
			.default-column.stop p{
				background-color: #fff;
				margin: auto;
				height: 20px;
				width:100%;
			}

			.default-column.stop-single p{
				border-radius    : 10px;
				border : solid 1px #000;
				height : 13px;
				width: 13px;
			}
			.default-column.stop-begin p{
				border-radius    : 10px 0px 0px 10px/10px 0px 0px 10px;
				border-top : solid 1px #000;
				border-bottom : solid 1px #000;
				border-left : solid 1px #000;
			}
			.default-column.stop-between p{
				visibility: visible;
				border-top : solid 1px #000;
				border-bottom : solid 1px #000;
			}
			.default-column.stop-end p{
				border-radius    : 0px 10px 10px 0px/0px 10px 10px 0px;
				border-top : solid 1px #000;
				border-bottom : solid 1px #000;
				border-right : solid 1px #000;
			}

	.default-column#train-area{
		flex-direction  : row;
		justify-content: space-around;
	}
	.default-column#train-name{
		flex-direction  : row;
		justify-content: space-around;
	}
		.default-column.train-name-frame{
		   	width : 20px;
			display: flex;
		}
			.default-column.train-name-frame span{
				width: 20px;
				margin: auto auto auto 0;
			    text-align: center;
			}

		.default-column.train-frame{
			display         : flex;
			flex-direction  : column;
			justify-content: space-around;
		}
		.default-column.train-stop {
			display: flex;
		}
			.default-column.train-stop p{
				margin: auto 0;
				height: 100%;
				width: 15px;
			}
			.default-column.non-operation p{
				visibility: hidden;
			}
			.default-column.begin-operation p{
				border-radius    : 10px 10px 0px 0px/10px 10px 0px 0px;

				margin: auto auto 0 auto;
				height: 22px;
			}
			.default-column.between-operation p{
				margin: 0 auto;
				height: 100%;
			}
			.default-column.end-operation p{
				border-radius    : 0px 0px 10px 10px/0px 0px 10px 10px;	
				margin: 0 auto auto auto;
				height: 22px;
			}
/*	simple-column	*/
	.simple-column#station-area{
		flex-direction  : column;
		justify-content: space-around;
	}
	.simple-column#station-name{
		flex-direction  : column;
		justify-content: space-around;
	}
		.simple-column.station-name-frame{
		    display: flex;
		}
			.simple-column.station-name-frame span{
				margin: 0 5px 0 auto;
			    text-align: center;
			}

		.simple-column.station-frame{
			display         : flex;
			flex-direction  : row;
			justify-content: space-around;
		}
		.simple-column.station-stop {
			display: flex;
		}
			.simple-column.passage p{
				visibility: hidden;
				z-index: -1;
				margin: auto;
				width: 100%;
				height:20px;
			}
			.simple-column.stop p{
				background-color: #fff;
				margin: auto;
				width: 100%;
				height:20px;
			}

			.simple-column.stop-begin p,
			.simple-column.stop-between p,
			.simple-column.stop-end p,
			.simple-column.stop-single p{
				border-left : solid 1px #666;
				border-top : solid 1px #666;
			
				width : 7px;
				height: 7px;
			}

	.simple-column#train-area{
		flex-direction  : row;
		justify-content: space-around;
	}
	.simple-column#train-name{
		flex-direction  : row;
		justify-content: space-around;
	}
		.simple-column.train-name-frame{
		   	width : 20px;
			display: flex;
		}
			.simple-column.train-name-frame span{
				width: 18px;
				margin: auto 0 0 0;
			    text-align: center;
			}

		.simple-column.train-frame{
			display         : flex;
			flex-direction  : column;
			justify-content: space-around;
		}
		.simple-column.train-stop {
			display: flex;
		}
			.simple-column.train-stop p{
				margin: 0 auto;
				width: 100%;
				height: 15px;
			}
			.simple-column.non-operation p{
				visibility: hidden;
			}
			.simple-column.begin-operation p{
				margin: auto auto 0 auto;
				height: 18px;
				border-left : solid 1px #fff;
				border-top : solid 1px #fff;
				border-right : solid 1px #ccc;
			}
			.simple-column.between-operation p{
				margin: 0 auto;
				height: 100%;
				border-left : solid 1px #fff;
				border-right : solid 1px #ccc;
			}
			.simple-column.end-operation p{
				margin: 0 auto auto;
				height: 18px;
				border-left : solid 1px #fff;
				border-right : solid 1px #ccc;
				border-bottom : solid 1px #ccc;
			}